<div>
  <table>
    <thead>
    <th>id</th>
    <th>describe</th>
    <th>struct</th>
    <th>created_time</th>
    <th>updated_time</th>
    </thead>

    <tbody>
    <% @components.each do |component| %>
    <tr>
      <td><%= component.id %></td>
      <td><%= component.describe %></td>
      <td><%= component.struct %></td>
      <td><%= component.created_at %></td>
      <td><%= component.updated_at %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>